<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.dofuntech.cis.admin.repository.mapper.DynamicAttrMapper">
	
	<sql id="condition">
			<if test="id != null and id != ''">
			   t.id = #{id}
			</if>
			<if test="templateId != null and templateId != ''">
			  and t.template_id = #{templateId}
			</if>
			<if test="name != null and name != ''">
			  and t.name = #{name}
			</if>
			<if test="type != null and type != ''">
			  and t.type = #{type}
			</if>
			<if test="attrOption != null and attrOption != ''">
			  and t.attr_option = #{attrOption}
			</if>
			<if test="seq != null and seq != ''">
			  and t.seq = #{seq}
			</if>
			<if test="required != null and required != ''">
			  and t.required = #{required}
			</if>
			<if test="schoolId != null and schoolId != ''">
			  and t.school_id = #{schoolId}
			</if>
			<if test="addTime != null and addTime != ''">
			  and t.add_time = #{addTime}
			</if>
			<if test="editTime != null and editTime != ''">
			  and t.edit_time = #{editTime}
			</if>
			<if test="score != null and score != ''">
			  and t.score = #{score}
			</if>
			<if test="itemCode != null and itemCode != ''">
			  and t.item_code = #{itemCode}
			</if>
			<if test="uids != null and uids != ''">
			  and t.u_ids = #{uids}
			</if>
			<if test="tname != null and tname != ''">
			  and tt.name = #{tname}
			</if>
	</sql>
	
    <sql id="columns">
    	t.id, t.template_id, t.name, t.type, t.attr_option, t.seq, t.required, t.school_id, t.add_time, t.edit_time, t.score, t.item_code,t.u_ids
    </sql>
	
	<!-- 新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.dofuntech.cis.admin.repository.domain.DynamicAttr">
		INSERT INTO t_dynamic_attr (
			id, template_id, name, type, attr_option, seq, required, school_id, add_time, edit_time, score, item_code,u_ids
		) VALUES (
			#{id}, #{templateId}, #{name}, #{type}, #{attrOption}, #{seq}, #{required}, #{schoolId}, #{addTime}, #{editTime}, #{score}, #{itemCode}, #{uids}
		)
	</insert>
	
	<!-- 查询所有-->
	<select id="query" resultType="cn.dofuntech.cis.admin.repository.domain.DynamicAttr">
		SELECT
		<include refid="columns"/>
		FROM t_dynamic_attr t
	</select>
	
	<!-- 条件查询-->
	<select id="queryByMap" parameterType="hashmap" resultType="cn.dofuntech.cis.admin.repository.domain.DynamicAttr">
		SELECT
		<include refid="columns"/>
		<if test="templateId != null  and  templateId != ''">
		, td.dict_id AS did, td.dict_name AS dname
		</if>
		,tt.name AS tname
		FROM t_dynamic_attr t
		<if test="templateId != null  and  templateId != ''">
		LEFT JOIN t_dict td on t.item_code = td.dict_value
		</if>
		LEFT JOIN t_inspection_template tt ON tt.id=t.template_id
		<where>
		<include refid="condition" />
			<if test="templateId != null  and  templateId != ''">
				and td.dict_code = 'ITEMCODE' and td.dict_level='2'
			</if>
		</where>
        order by t.template_id,t.seq,t.item_code ,t.id
	</select>
	
	<!-- 单对象查询-->
	<select id="get" parameterType="hashmap" resultType="cn.dofuntech.cis.admin.repository.domain.DynamicAttr">
		SELECT
		<include refid="columns"/>
		FROM t_dynamic_attr t
		<where>
		<include refid="condition" />
		</where>
		limit 0,1
	</select>
	
	<!-- 更新-->
	<update id="update" parameterType="cn.dofuntech.cis.admin.repository.domain.DynamicAttr">
		UPDATE t_dynamic_attr 
		SET
		id=#{id}, template_id=#{templateId}, name=#{name}, type=#{type}, attr_option=#{attrOption}, seq=#{seq}, required=#{required}, school_id=#{schoolId}, add_time=#{addTime}, edit_time=#{editTime}
		, score=#{score}, item_code=#{itemCode}, u_ids=#{uids}
		WHERE
		id=#{id}
	</update>
	
	<!-- 删除-->
	<delete id="delete" parameterType="cn.dofuntech.cis.admin.repository.domain.DynamicAttr">
		DELETE FROM t_dynamic_attr 
		WHERE
		id=#{id}
	</delete>
	
</mapper>
