<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.dofuntech.cis.admin.repository.mapper.TeamMapper">
	
	<sql id="condition">
			<if test="id != null and id != ''">
			   t.id = #{id}
			</if>
			<if test="teamName != null and teamName != ''">
			  and t.team_name = #{teamName}
			</if>
			<if test="addtime != null and addtime != ''">
			  and t.addtime = #{addtime}
			</if>
			<if test="edittime != null and edittime != ''">
			  and t.edittime = #{edittime}
			</if>
			<if test="schoolId != null and schoolId != ''">
			  and t.school_id  = #{schoolId}
			</if>
	</sql>
	
    <sql id="columns">
    	t.id, t.team_name, t.addtime, t.edittime,t.school_id
    </sql>
	
	<!-- 新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.dofuntech.cis.admin.repository.domain.Team">
		INSERT INTO t_team (
			id, team_name, addtime, edittime,
		school_id) VALUES (
			#{id}, #{teamName}, #{addtime}, #{edittime},#{schoolId}
		)
	</insert>
	
	<!-- 查询所有-->
	<select id="query" resultType="cn.dofuntech.cis.admin.repository.domain.Team">
		SELECT
		<include refid="columns"/>
		FROM t_team t
	</select>
	
	<!-- 条件查询-->
	<select id="queryByMap" parameterType="hashmap" resultType="cn.dofuntech.cis.admin.repository.domain.Team">
		SELECT
		<include refid="columns"/>
		FROM t_team t
		<where>
		<include refid="condition" />
		</where>
	</select>
	
	<!-- 单对象查询-->
	<select id="get" parameterType="hashmap" resultType="cn.dofuntech.cis.admin.repository.domain.Team">
		SELECT
		<include refid="columns"/>
		FROM t_team t
		<where>
		<include refid="condition" />
		</where>
		limit 0,1
	</select>
	
	<!-- 更新-->
	<update id="update" parameterType="cn.dofuntech.cis.admin.repository.domain.Team">
		UPDATE t_team 
		SET
		id=#{id}, team_name=#{teamName}, addtime=#{addtime}, edittime=#{edittime},school_id  = #{schoolId}
		WHERE
		id=#{id}
	</update>
	
	<!-- 删除-->
	<delete id="delete" parameterType="cn.dofuntech.cis.admin.repository.domain.Team">
		DELETE FROM t_team 
		WHERE
		id=#{id}
	</delete>
	
</mapper>
